body {
	font: 12pt Aleo;
	line-height: 1.4em;
	margin: 0;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	background: #fff;
}

h1.title {
	font: 500 18pt 'Josefin Sans', 'Avenir', 'Futura', sans-serif;
	display: inline-block;
	margin: 0;
}
h1.title .kern {
	margin-left: -.2ex;
	letter-spacing: -.1ex;
}

h2.subtitle {
	display: inline-block;
	font: 600 10pt 'Josefin Sans', 'Avenir', 'Futura', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

.numbers {
	position: fixed;
	top: 1em;
	left: calc(50% - 240px);
	padding-top: 4pt;
	font-size: 12pt;
}
.numbers ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.numbers li {
	display: inline-block;
	font-weight: 300;
	color: #888;
}
.numbers li.active {
	font-weight: 400;
	color: #000;
}
.numbers li.disabled {
	color: #ddd;
}
.numbers li.pointer {
	font-size: 10pt;
	margin: 0 8pt;
	line-height: 12pt;
	font-weight: 300;
}
.numbers li:not(.pointer):not(.active):not(.disabled):hover {
	text-decoration: underline;
	cursor: pointer;
}

.content {
	width: 100%;
	max-width: 560px;
	margin: 3em auto 2em;
	padding: 0 40px;
	box-sizing: border-box;
	font-size: 16pt;
	font-weight: 300;
}

.input {
	padding: 0;
	margin: 0;
}

.question {
	margin-bottom: 2em;
}
.question input {
	font-size: inherit;
	float: left;
	margin: 0 .5em 0 0;
	height: 1.3em;
}
.question label {
	display: table-cell;
	margin: .4em 0;
	line-height: 1.4em;
}
.question label[title]:after {
	content: '?';
	color: #04f;
	font-size: 10pt;
	font-weight: 400;
	line-height: 1em;
	display: inline-block;
	margin: 0 .4em;
}

button.action {
	width: 100%;
	background: #111;
	border: none;
	height: 2.4em;
	color: #eee;
	font: 300 12pt 'Aleo';
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
}
button.action:hover {
	background: #222;
	color: #fff;
}
button.action:active {
	background: #000;
	color: #ddd;
}
button.action:disabled {
	background: #444;
	color: #aaa;
	cursor: default;
	pointer-events: none;
}

.recontainer p {
	margin: 0;
}
.recontainer .rec {
	font-size: 32pt;
	font-weight: 400;
	margin: .6em 0;
}
.recontainer .desc {
	font-size: 12pt;
	line-height: 1.4em;
}

.side {
	margin-top: 2em;
	font-size: 12pt;
}
.side h2 {
	font-weight: 300;
}
.side li {
	margin-bottom: 1em;
}
.side li p {
	margin: 0;
}
.side li p + p {
	font-weight: 400;
}

@media all and (max-width: 1200px) {
	h2.subtitle {
		display: none;
	}
}

@media all and (max-width: 840px) {
	h1.title {
		display: none;
	}

	.content {
		font-size: 14pt;
	}

	.side {
		font-size: 11pt;
	}

	.fork {
		display: none;
	}
}

@media all and (max-width: 560px) {
	.numbers {
		left: 40px;
		font-size: 10pt;
	}

	.content {
		font-size: 12pt;
	}

	.side {
		font-size: 10pt;
	}
}