body {
	font: 12pt/1.4em Aleo;
	margin: 0;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	background: #fff;
}

h1.title {
	font: 500 18pt 'Josefin Sans', 'Avenir', 'Futura', sans-serif;
	display: inline-block;
	margin: 0;
}
h1.title .kern {
	margin-left: -.2ex;
	letter-spacing: -.1ex;
}

h2.subtitle {
	display: inline-block;
	font: 600 10pt 'Josefin Sans', 'Avenir', 'Futura', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

.numbers {
	position: fixed;
	top: 1em;
	left: calc(50% - 280px);
	padding-top: 4pt;
	font-size: 12pt;
}
.numbers ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.numbers li {
	display: inline-block;
	margin-right: 6pt; 
	font-weight: 300;
	color: #888;
}
.numbers li.active {
	font-weight: 400;
	color: #000;
}
.numbers li:not(:last-child):after {
	content: '>';
	font-size: 10pt;
	margin-left: 8pt;
	line-height: 12pt;
	font-weight: 300;
}

.content {
	width: 100%;
	max-width: 560px;
	margin: 4em auto 0;
}

.input {
	font-size: 16pt;
	line-height: 20pt;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

.question {
	margin-bottom: 2em;
}
.question input {
	font-size: inherit;
	float: left;
	margin: .25em .5em .25em 0;
}
.question label {
	display: table-cell;
	margin: .4em 0;
}